* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: white;
}


/* nav bar */
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.text{
    font-size: 3vw;
    font-weight: 900;
}
.navi button{
    font-size: 1.5vw;
    padding: 0.5vw;
    width: 7vw;
    border-radius: 0.5vw;
    background-color: aquamarine;
    margin: 0 2vw;
    transition: 0.3s;
}
.navi button:hover{
    transform: scale(1.1);
}

/* main section */

.outer {
    /* height: 100%; */
    width: 80%;
    margin: auto;

    padding: 1vw;
    box-shadow: 0 0 10px 5px gray;
    /* align-items: center; */
}
.tab{
    margin-top: 20px;
}
.top>h1{
    text-align: center;
    font-size: 2vw;
}
.top>h2 {
    margin-top: 10px;
}
.first {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #111;
    /* border: 2px solid; */
}

.in{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(54, 41, 25);
}
.in>tbody{
    border: none;
}
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}
th{
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid white;
}
button{
    margin-left: 9px;
    border-radius: 5px;
}
.tab{
    background-color: #c5b2b272;
    width: 100%;
    border-radius: 20px;
}
.second{
    margin-top: 20px; 
}
.sec-outer{
    margin-top: 20px;
    margin-bottom: 20px;
}
 
/* footer section */

.last{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.last>a{
    text-decoration: none;
    color: aliceblue;
}
.lasttable td{
    padding-left: 5vw;
    text-align: justify;
}
.lasttable .one{
    color: aqua;
   font-size: 1vw;   
   text-transform: uppercase;
}
.lasttable .two{
    color: aqua;
    padding-right: 24vw;
    text-transform: uppercase;
    font-size: 1vw;
}
.lasttable td a{
  color: white;  
  
}
.last {
    padding: 2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
}
.last button{
    padding: 0.5vw;
    width: 10vw;
    border-radius: 1vw;
    background-color: rgb(208, 146, 146);
}
.last button a{
    text-decoration: none;
    font-size: 0.8vw;
    color: black;
    text-transform: uppercase;
}
